body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1{
    color: hsl(0, 0%, 25%);
    font-family: Verdana;
    font-size: 4rem;
}
 #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 5px 15px 15px aquamarine;
} 

#display{
    font-family: monospace;
    font-size: 5rem;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 5px hsla(0, 0%, 0ù, 0.75);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: bold;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.75);
    transition: background-color 0.5s ease-in-out;
}

#startBtn{
    background-color: hsl(115, 100%, 40%);
    color: hsl(0, 0%, 100%);
}

#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}

#stopBtn{
    background-color: hsl(10, 90%, 50%);
    color: hsl(0, 0%, 100%);
}

#stopBtn:hover{
    background-color: hsl(10, 90%, 40%);
}

#resetBtn{
    background-color: hsl(205, 90%, 60%);
    color: hsl(0, 0%, 100%);
}

#resetBtn:hover{
    background-color: hsl(205, 90%, 50%);
}





